.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header-logo {
  width: 148px;
  height: 105px;
  display: block;
}

.header-menu {
}

.header-menu-list {
  display:flex;
  gap: 32px;
  font-size: 18px;
  line-height: 100%;
}

.header-menu-list-item_active{
  list-style:none;
}

.header-menu-list-item {
  border-bottom: 1px solid #000000;
  list-style: circle;
}

.header-menu-link_active {
  text-decoration: none;
}

.header-menu-link{
  text-decoration: none;
  
}

.header-adress {
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.adress-item {
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.adress-item_active {
  text-decoration: none;
}


.cover {
  width: 1100px;
  box-sizing: border-box;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #000;
  z-index: 0;
}

.overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  width: 1100px;
  height: 757px;
  z-index: 1;
}

.cover-title {
  position:relative;
  z-index:2;
  display: flex;
  box-sizing: border-box;
  align-content: center;
  flex-direction: column;
  width: 100%;
  padding: 165px 50px 106px 50px;
}

.cover-text-left {
  text-align: start;
  font-style: bold;
  font-weight: 700;
  letter-spacing: 30px;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  color: #ffffff;
}

.cover-text-center {
  text-align: center;
  font-style: bold;
  font-weight: 700;
  line-height: 115%;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.cover-text-right {
  text-align: end;
  font-style: bold;
  font-weight: 700;
  line-height: 115%;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.description {
  position: relative;
  width: 1000px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  gap: 107px;
  z-index:2;
}

.description-text {
  font-weight: 400;
  font-size: 22px;
  word-spacing: 28px;
  line-height: 28px;
  text-transform: uppercase;
}

.description-button {
  width:256px;
  height:51px;
  background-color:transparent;
  border-color: #ffffff;
  margin: 12px 32px 11px 31px;
  border-style: solid;
  font-weight:500;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}
